@use '../../foundations/mixins' as mixins;

.nds-input__wrapper {

  display: flex;

  align-items: center;

  width: 100%;

  gap: .5rem;

  padding-inline: .75rem;

  min-height: 2.75rem;

  border: 1px solid var(--nds-color-border);

  border-radius: var(--nds-radius-md);

  background: var(--nds-color-surface);

  transition:
    border-color .2s,
    box-shadow .2s,
    background .2s;

  @include mixins.focus-ring(".nds-input__native");

}

.nds-input__toggle {

  display: inline-flex;

  align-items: center;

  justify-content: center;

  border: 0;

  background: transparent;

  cursor: pointer;

  padding: 0;

  color: inherit;

  transition: opacity .2s ease;

}

.nds-input__toggle:hover {

  opacity: .7;

}

.nds-input__toggle:focus-visible {

  outline: none;

}

.nds-input[data-prefix="true"] {

    padding-left:0;

}

.nds-input[data-suffix="true"] {

    padding-right:0;

}
