:host {

  --button-height-sm: 2.5rem;
  --button-height-md: 3rem;
  --button-height-lg: 3.5rem;

  --button-padding-inline: 1.5rem;

  --button-radius: var(--radius-full);

  --button-font-weight: 600;

}
