<button
  class="nds-button__native"
  [attr.type]="nativeType()"
  [disabled]="isDisabled()"
  [attr.aria-busy]="loading()">

  @if (loading()) {
    <nds-spinner
      size="sm"
      variant="inherit" />
  }

  <span class="nds-button__content">

    @if (hasPrefix()) {
      <span class="nds-button__prefix">
        <ng-content select="[ndsButtonPrefix]" />
      </span>
    }

    <span class="nds-button__label">
      <ng-content />
    </span>

    @if (hasSuffix()) {
      <span class="nds-button__suffix">
        <ng-content select="[ndsButtonSuffix]" />
      </span>
    }

  </span>

</button>
