:host {

  display: block;

}

.nds-error-text__content {

  color: var(--nds-color-danger);

  font-size: var(--nds-typography-body-sm-font-size);

  font-weight: var(--nds-font-weight-medium);

  line-height: var(--nds-typography-body-sm-line-height);

}
