@use "@foundations/mixins" as mixins;

@include mixins.gap(":host");

@include mixins.padding(":host");

:host {

  display: block;

}

.nds-stack__container {

  display: flex;

  flex-direction: column;

}

.nds-inline__container {

    display:flex;

    flex-direction:row;

}

:host([data-full-width="true"]) {

  width: 100%;

}

:host([data-direction="horizontal"])
.nds-stack__container {

  flex-direction: row;

}

:host([data-wrap="true"])
.nds-stack__container {

  flex-wrap: wrap;

}

:host([data-full-width="true"]) {

  width: 100%;

}

:host([data-align="start"]) .nds-stack__container {

  align-items: flex-start;

}

:host([data-align="center"]) .nds-stack__container {

  align-items: center;

}

:host([data-align="end"]) .nds-stack__container {

  align-items: flex-end;

}

:host([data-align="stretch"]) .nds-stack__container {

  align-items: stretch;

}

:host([data-justify="start"]) .nds-stack__container {

  justify-content: flex-start;

}

:host([data-justify="center"]) .nds-stack__container {

  justify-content: center;

}

:host([data-justify="end"]) .nds-stack__container {

  justify-content: flex-end;

}

:host([data-justify="between"]) .nds-stack__container {

  justify-content: space-between;

}

:host([data-justify="around"]) .nds-stack__container {

  justify-content: space-around;

}

:host([data-justify="evenly"]) .nds-stack__container {

  justify-content: space-evenly;

}

:host([data-gap="none"]) .nds-stack__container {
  gap: var(--nds-spacing-none);
}

:host([data-gap="xs"]) .nds-stack__container {
  gap: var(--nds-spacing-xs);
}

:host([data-gap="sm"]) .nds-stack__container {
  gap: var(--nds-spacing-sm);
}

:host([data-gap="md"]) .nds-stack__container {
  gap: var(--nds-spacing-md);
}

:host([data-gap="lg"]) .nds-stack__container {
  gap: var(--nds-spacing-lg);
}

:host([data-gap="xl"]) .nds-stack__container {
  gap: var(--nds-spacing-xl);
}
