:host {

  display: block;

}

.nds-helper-text__content {

  color: var(--nds-color-text-secondary);

  font-size: var(--nds-typography-body-sm-font-size);

  font-weight: var(--nds-typography-body-sm-font-weight);

  line-height: var(--nds-typography-body-sm-line-height);

}
